.padding1 {
	padding: 0 .5rem;
}
.padding {
	margin-top: 100px;
}
.progress-bar,
.progress {
	-webkit-border-radius: 5rem;
	border-radius: 5rem;
	height: 1.5rem;
	
	-webkit-box-shadow: 0 2px 10px 0 rgba(157,166,195,0.30);
	box-shadow: 0 2px 10px 0 rgba(157,166,195,0.30);
}
.progress {
	background: #fff;
}
.card {
	background: #FFFFFF;
	box-shadow: 0 2px 10px 0 rgba(157,166,195,0.30);
	border-radius: 4px;
	padding: 0 1.5rem;
	margin-bottom: .5rem;
	margin-right: 0;
}
.card-btn {
	padding: 1.5rem 0 ;
}
.card-btn-text {
	background: #52CC60;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	padding: 1rem;
	text-align: center;
	cursor: pointer;
}
.search-container {
	padding: 1.5rem 0 .5rem 0;
}
.search-container .input-group {
	margin-right: 1rem;
	overflow: hidden;
}
.search-container .input-group,
.search-container .btn-group {
	width: 18rem;
	background: #F5F5F5;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.search-input,
.search-btn {
	border: transparent;
	color: #333;
	background: #F5F5F5;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: .7rem;
	cursor: pointer;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.search-text {
	color: #333;
}
.search-text-gray {
	color: #999;
}
.search-container .btn-group {
	position: relative;
}
.btn-group:after {
	content: "";
	position: absolute;
	right: 1rem;
	top: 1.5rem;
	width: 0;
	height: 0;
	border-top: solid 6px #999;
	border-left: solid 4px transparent;
	border-right: solid 4px transparent;
}
.search-submit {
	background: #52CC60;
	-webkit-border-radius: 65px;
	border-radius: 65px;
	color: #fff;
	padding: .5rem 2rem;
	margin: 0 1rem;
	cursor: pointer;
}
.dropdown-menu li a:hover {
	background: #808080;
	color: #fff;
}
#wrapper {
	margin-top: 1rem;
	border: solid 1px #eee;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(211,219,235,0.40);
	box-shadow: 0 2px 4px 0 rgba(211,219,235,0.40);
}
.list:nth-of-type(even) .list-li {
	background: #F7FAFC;
}
.list-title{
	padding: 0;
	text-align: center;
	padding: 1.5rem .5rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #999;
	font-size: .9em;
	border-bottom: solid 1px #eee;
}
.list-li {
	font-size: .9em;
	text-align: center;
	padding: .5rem;
	height: 12rem;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	align-items: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	text-align: center;
	background: #fff;
}
.list-li>p {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/*.list:hover .list-li {
	background: #eee;
}*/
.list-li img {
	width: 1.5rem;
	height: 1.5rem;
}
.text-green {
	text-decoration: underline;
	color: #52CC60;
	margin-right: 1rem;
	cursor: pointer;
}
.text-gray {
	color: #999;
}
.text-yellow {
	color: #F5A623;
	cursor: pointer;
}
.btn-yellow {
	margin-top: 1rem;
}
.btn-yellow span {
	border: 1px solid #F5A623;
	-webkit-border-radius: 84px;
	border-radius: 84px;
	color: #F5A623;
	padding: .25rem .5rem;
	
	cursor: pointer;
}
.btn-blue {
	position: relative;
	margin: .8rem auto;
}
.btn-blue span {
	display: inline-block;
	border: 1px solid #7AB8FF;
	-webkit-border-radius: 84px;
	border-radius: 84px;
	color: #7AB8FF;
	padding: .25rem 1rem;
	max-width: 8rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}
.btn-blue:hover .btn-text {
	display: block;
}
.btn-text {
	display: none;
	position: absolute;
	top: 120%;
	left: 0%;
	min-width: 150%;
	max-width: 200%;
	background: #FFFFFF;
	color: #999;
	border: 1px solid #E6E6E6;
	-webkit-box-shadow: 0 0 6px 0 rgba(66,66,66,0.10);
	-webkit-border-radius: 6px;
	box-shadow: 0 0 6px 0 rgba(66,66,66,0.10);
	border-radius: 6px;
	padding: 1rem;
	z-index: 999;
	word-break: break-all;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn-text:before {
	position: absolute;
	top: -14px;
	left: 25%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	content: url("../image/arrow_top.png");
}
.pagination-container {
	position: relative;
	background: #fff;
	padding: 3rem 2rem;
}
.pagination {
	color: #999;
}
.pagination>li>a {
	color: #999;
	font-size: .9em;
}
.pagination>li.active>a,
.pagination>li>a:hover {
	background: #808080;
	color: #fff;
}

@media (min-width: 0px) and (max-width: 991px) {
	.card {
		margin-left: 0;
		margin-right: 0;
	}
}
@media (min-width: 992px) {
	.card{
		margin-right: 0;
		margin-left: none;
	}
}