.padding {
	margin: 10px auto;
}
.card {
	background: #fff;
	box-shadow: 0 2px 10px 0 rgba(157,166,195,0.30);
	border-radius: 4px;
	font-size: .9em;
	margin-bottom: 1rem;
	padding: 2rem 1rem;
	position: relative;
	overflow: hidden;
}
.card-btm {
	position: absolute;
	bottom: 2.2rem;
	left: 8.4%;
	width: 89.8%;
}
.card-btm img {
	width: 100%;
}
.card-wrapper {
	position: relative;
	margin: 5rem 2rem 2rem 2rem;
	padding: 4% 2% 0% 2%;
	border: solid 8px rgba(216,216,216,.4);
	border-radius: 10px;
}
.card-border-left {
	position: absolute;
	top: 800px;
	left: -15px;
	width: 22px;
	height: 65px;
}
.card-border-right {
	position: absolute;
	top: 600px;
	right: -18px;
	width: 33px;
	height: 70px;
}
.card-bg {
	position: absolute;
	top: 2rem;
	left: 6%;
	z-index: 9;
}
.card-bg img {
	width: 88%;
}

.card-bottom {
	position: absolute;
	bottom: 3rem;
	right: 1rem;
	width: 60px;
	z-index: 9;
}
.card-bottom img {
	width: 60px;
}
.card-bottom span {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 100%;
	height: 100%;
	text-align: center;
}
.card-title {
	text-align: center;
	margin: 20px auto;
}
.card-title-two {
	text-align: center;
	margin-top: 20px;
}
.card-title-text {
	font-size: 22px;
	font-weight: bold;
	color: #333;
}
.card-title-two img {
	width: 60%;
}
.card-title img {
	width: 50%;
}
.card-row {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	margin: 20px auto;
}
.c_1 {
	width: 95%;
	position: relative;
}
.c_1 img {
	width: 100%;
}
.c_1-table {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.c_1-line {
	position: absolute;
	width: 18.2%;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.c_1-line1 {
	top: 13%;
	left: 33.4%;
}
.c_1-line2 {
	top: 41%;
	left: 33.4%;
}
.c_1-line3 {
	top: 68%;
	left: 33.4%;
}
.c_1-line4 {
	top: 12.5%;
	right: 16.5%;
}
.c_1-line5 {
	top: 41%;
	right: 16.5%;
}
.c_1-line6 {
	top: 68%;
	right: 16.5%;
}
.c_2 {
	width: 20%;
}
.c_3 {
	width: 20%;
}
.c_4 {
	width: 60%;
	margin-top: 120px;
}
.c_5 {
	width: 100%;
	margin-top: 120px;
}
.c_6 {
	width: 30% !important;
}
.c_7 {
	width: 30% !important;
}
.c_8 {
	width: 40% !important;
}
.c_9 {
	width: 12% !important;
}
.card-item {
	width: 70%;
}
.card-label {
	position: relative;
	margin: 10px;
	display: inline-block;
}
.card-label img {
	width: 120px;
}
.card-label span {
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.marL-2 {
	margin-left: -2rem;
}
.li-row {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.li-area {
	margin-left: 30px;
	padding-left: 10px;
	border-left: 4px solid #D8D8D8;
}
.li-flex {
	-webkit-flex: 1;
	flex: 1;
}
.li-row-flex {
	-webkit-flex: 1;
	flex: 1;
	margin-left: 10px;
}
.li-textarea {
	width: 100%;
	height: 308px;
	border-radius: 10px;
	border: 2px dashed rgba(204,204,204,1);
}
.li-title {
	text-align: center;
	padding: .5rem;
	font-size: 19px;
	font-weight: bold;
}
.li-content {
	margin: 1rem 4rem 4rem 4rem;
	/*background: #E0EFE6;*/
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	padding: 1.5rem;
}
.li-border {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
}
.li-items {
	padding: 1rem;
	text-align: center;
}
.li-item {
	font-size: 16px;
	float: left;
	width: 33.33%;
	margin: .5rem auto;
	color: #333;
}
.li-table {
	margin-top: 15px;
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
}
.li-table-left {
	padding: 10px 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
	border-right: solid 1px #B9B9B9;
}
.li-table-text {
	font-size: 12px;
	color: #333;
}
.li-table-icon {
	width: 50px;
	margin-top: 10px;
}
.li-table-right {
	flex: 1;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.li-table-cell {
	padding: 4px 8px;
	width: 40px;
	font-size: 12px;
	color: #333;
	text-align: center;
}
ol li {
	font-size: 16px;
	margin: 20px auto 20px 15px;
	position: relative;
}
ol li div {
	margin-bottom: 10px;
}
.marL-2 li {
	margin: 10px auto;
}
.li-label {
	position: absolute;
	left: -28px;
	top: -3px;
	z-index: 1;
	width: 25px;
	height: 25px;
}
.li-label img {
	width: 100% !important;
}
.li-label span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 0%;
	z-index: 9;
	text-align: center;
	-webkit-transform: translate(0, -40%);
	transform: translate(0, -40%);
}
.li-label-text {
	font-weight: bold;
}
.li-border-left-title {
	margin-left: -2rem;
}
.li-title-bold {
	margin-left: -2rem;
	font-size: 16px;
	font-weight: bold;
}
.li-border-left {
	margin-left: -1.5rem;
	padding-left: 1rem;
	font-size: 16px;
	border-left: solid 2px #aaa;
	margin-bottom: 0;
}
.li-border-left-text {
	max-width: 90%;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
p {
	font-size: 16px;
}
.li-content-text {
	margin: 2rem auto;
}
.li-content-text img {
	width: 20%;
}
.li-content-text span{
	vertical-align: middle;
}
.li-content-text p {
	margin: 1rem 2rem;
}
.li-content-title {
	text-align: center;
}
.li-content-title-two {
	text-align: center;
	font-weight: bold;
	margin-top: 2rem;
	font-size: 16px;
}
.li-content-title-two img {
	width: 8rem;
}
.li-content-title img {
	width: 15rem;
	margin-top: -5rem;
}
.li-context {
	padding-top: 1.5rem;
}
.li-context p {
	margin: 2rem 3rem;
}
.li-context-title {
	margin: 1rem auto;
}
.li-context-title img {
	height: 40px;
	/*width: 17px;*/
	margin: 0 5px 5px 0;
}
.li-context-title span {
	font-size: 16px;
}
.li-context img {
	width: 100%;
}
.li-context-title .li-img-1 {
	/*height: 35px;*/
	/*width: 80px !important;*/
}
.li-context-title .li-img-2 {
	/*height: 40px;*/
	/*width: 70px !important;*/
}
.li-context-title .li-img-3 {
	/*width: 100px !important;*/
}
.li-context-title .li-img-4 {
	width: 150px !important;
}
.li-context-title .li-img-5 {
	width: 200px !important;
}
.li-pencil {
	background: url(../image/icon_13.png) no-repeat;
	background-size: 100% auto;
	padding: .75rem 3.5rem .75rem 1rem;
}
.li-pencil-two {
	background: url(../image/icon_14.png) no-repeat;
	background-size: 100% auto;
	padding: .75rem 3.5rem .85rem 1.25rem;
}
.li-pencil-three {
	background: url(../image/icon_12.png) no-repeat;
	background-size: 100% auto;
	padding: .85rem 1rem 1.5rem 2.75rem;
}
.li-pencil-text {
	font-weight: bold;
	margin-left: 8px;
	color: #333;
}
.btn-blue {
	border: 1px solid #4A90E2;
	-webkit-border-radius: .5rem;
	border-radius: .5rem;
	color: #4A90E2;
	padding: .25rem;
	font-weight: bold;
	margin-right: .5rem;
}
.text-blue {
	color: #4A90E2;
	font-size: 1.1em;
	padding: .25rem;
	font-weight: bold;
}
.text-black {
	color: #333;
	font-size: 1.1em;
	padding: .25rem 0;
	font-weight: bold;
}
.li-context-row {
	position: relative;
	padding-left: 2.5rem;
}
.li-context-row span {
	vertical-align: middle;
}
.li-context-row img {
	width: 1.5rem;
	vertical-align: middle;
}
.li-context-text {
	margin-left: 8rem;
}
.li-context-label {
	position: absolute;
	left: 0;
	top: 0;
	width: 2rem;
	padding: 0rem .5rem;
	background: #F5A623;
	border-radius: 0 5rem 5rem 0;
	color: #fff;
}
.li-context-btn {
	float: right;
	background: #FFFFFF;
	border: 1px dashed #AED7BC;
	-webkit-border-radius: 1rem;
	border-radius: 1rem;
	padding: .8rem;
	color: #9F9FA0;
	font-size: .9em;
	text-align: center;
	margin-top: 15rem;
	margin-bottom: 2rem;
}
.li-context-btn P {
	margin-bottom: .5rem;
	padding: 0;
}
.li-context-btn span {
	width: 2rem;
	height: 2rem;
	display: inline-block;
	border: solid 1px #999;
	text-align: center;
	line-height: 2rem;
	cursor: pointer;
}
.fixed-container {
	position: fixed;
	top: 50%;
	right: 1rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fff;
	font-size: .9em;
	z-index: 999;
}
.fixed-wrapper {
	background: rgba(0,0,0,.4);
	border-radius: 6px;
	padding: .5rem;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.fixed-wrapper.active {
	-webkit-transform: translateX(110%);
	transform: translateX(110%);
}
.fixed-buttons {
	text-align: center;
	margin: .5rem 1rem;
}
.fixed-btn {
	background: #FFFFFF;
	border: 1px solid #52CC60;
	border-radius: 5px;
	color: #52CC60;
	padding: .5rem 1rem;
	margin: 1rem auto;
	cursor: pointer;
}
.fixed-btn-active {
	background: #52CC60;
	border-radius: 5px;
	color: #fff;
	padding: .5rem 1rem;
	margin: 1rem auto;
	cursor: pointer;
}
.fixed-right {
	text-align: center;
	margin: 1rem auto;
	-webkit-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
}
.fixed-right.active {
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
}
.fixed-right-text {
	width: 4rem;
	height: 4rem;
	display: inline-block;
	-webkit-border-radius: 10rem;
	border-radius: 10rem;
	background: rgba(0,0,0,.5);
	text-align: center;
	line-height: 4rem;
}
@media (min-width: 0px) and (max-width: 767px) {
	.fixed-container {
		display: none;
	}
	/*.li-table-right {
		width: 320px !important;
	}*/
}
@media (min-width: 768px) and (max-width: 1199px) {
	.fixed-container {
		display: block;
	}
	/*.li-table-right {
		width: 448px !important;
	}*/
}
